<span style="float:right" class="js_share_region w3-hide">
    Share:
    <a class="w3-btn js_email_share_btn js_dirtiable_btn" 
    title="Click to share configuration via email"
    target="_blank"
    href="#"
    disabled>
        <i class="far fa-envelope"></i>
    </a>
    &nbsp;
    <!-- Your share button code -->
    <a class="w3-btn js_fb_share_btn js_dirtiable_btn" href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    &nbsp;
    Download: 
    <button type="button" download="hotkeys.ahk" class="w3-btn js_download_btn js_dirtiable_btn" 
    title="Click to download AHK script"
    onClick="download();"
    disabled>
        <i class="fas fa-file-download"></i>
    </button>
</span>